.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: black;
  }